/*================================================
01 - IMPORTED CSS
==================================================*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900");

:root {
  --bs-primary: #0063F7 !important;
  --bs-background: #051F44 !important;
  --bs-violet: #791cc6 !important;
  --bs-black: #030615 !important;
}

/*================================================
02 - DEFAULT CSS
==================================================*/

body {
  background-color: #fff;
  color: #6b739c;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  overflow-wrap: break-word;
  word-break: normal;
  transition: 0.5s;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  color: #777;
  margin: 0;
}
.bs-primary {
  color: var(--bs-primary);
}
.subscribe-btn {
  padding: 18px 40px;
  text-transform: capitalize;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #2A66DB;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: .3s;
}
.subscribe-inp {
  padding: 14px;
  width: 30%;
  border: 1px solid #2A66DB;
  background-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.subscribe-inp::placeholder {
  color: #E5E7EB;
}
.jobguru-btn__job {
  display: inline-block;
  padding: 5px 20px;
  text-transform: capitalize;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: transparent;
  border-radius: 4px;
  border: 2px solid var(--bs-primary);
  color: var(--bs-primary);
  border-radius: 99px;
}
.jobguru-btn__job:hover {
  background-color: var(--bs-primary);
  color: #fff;
}
.jobguru-banner-btn {
  display: inline-block;
  padding: 8px 30px;
  text-transform: capitalize;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 4px;
  transition: .3s;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 1000px;
}
.jobguru-banner-btn:hover {
  box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: var(--bs-primary);
    border: 1px solid var(--bs-primary);
}
.jobguru-btn-left {
  display: inline-block;
  padding: 8px 50px;
  text-transform: capitalize;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 4px;
  transition: .3s;
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}
.jobguru-btn {
  display: inline-block;
  padding: 8px 50px;
  text-transform: capitalize;
  color: var(--bs-primary);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 4px;
  transition: .3s;
  border: 1px solid var(--bs-primary);
}
.jobguru-btn:hover, .jobguru-btn-left:hover {
  background-color: var(--bs-primary);
  color: #fff;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
}
.jobguru-post {
  display: inline-block;
  padding: 5px 20px;
  text-transform: capitalize;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: var(--bs-primary);
  border-radius: 4px;
  font-size: 0.875rem;
  transition: .3s;
}
.jobguru-post:hover {
  box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
  color: #fff;
}
header .signIn-btn {
  display: inline-block;
  padding: 4px 20px;
  padding-bottom: 0;
  text-transform: capitalize;
  color: var(--bs-primary) !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: transparent;
}
header .signUp-btn {
  display: inline-block;
  padding: 4px 20px;
  text-transform: capitalize;
  color: var(--bs-primary) !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid var(--bs-primary);
  margin-left: 15px;
}
header .signUp-btn:hover {
  background-color: var(--bs-primary);
  color: #fff !important;
}

header .jobguru-btn:hover {
  background: var(--bs-primary) none repeat scroll 0 0;
}
.jobguru-btn-danger {
  display: inline-block;
  padding: 10px 30px;
  text-transform: capitalize;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #c92813 none repeat scroll 0 0;
  border-radius: 4px;
}

.jobguru-btn-danger:hover {
  background: #ad210e none repeat scroll 0 0;
  color: #fff;
}

.jobguru-btn-2 {
  display: inline-block;
  padding: 10px 30px;
  text-transform: capitalize;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: var(--bs-primary) none repeat scroll 0 0;
  border-radius: 4px;
}

.load-more {
  text-align: center;
  margin-top: .5rem;
}

.site-heading h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #000;
}

.block__head-link {
  font-size: 0.875rem;
  padding-top: 5px;
}
.site-heading p {
  color: #777;
  font-size: 15px;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.no-pad-all {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  outline: medium none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: medium none;
}

tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.section_30 {
  padding: 30px 0;
}

.section_50 {
  padding: 50px 0;
}

.section_T50 {
  padding-top: 50px;
}

/*================================================
03 - RESPONSIVE CSS
==================================================*/

.jobguru-responsive-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  z-index: 999;
}

.slicknav_nav a {
  font-size: 14px;
  margin: 0;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #000;
}

.slicknav_menu {
  background: transparent;
}

.slicknav_menutxt {
  display: none !important;
}

.slicknav_arrow {
  float: right;
  color: var(--bs-primary);
}

.slicknav_nav a:hover {
  border-radius: 0;
}

.slicknav_nav .slicknav_row:hover {
  border-radius: 0;
}

.slicknav_nav a:hover,
.slicknav_nav .slicknav_row:hover {
  background: var(--bs-primary) none repeat scroll 0 0;
  color: #fff;
}

.slicknav_nav a:hover .slicknav_arrow {
  color: #fff;
}

.slicknav_nav a:hover a {
  color: #fff;
}

.slicknav_nav li {
  border-bottom: 1px solid #ddd;
}

.slicknav_nav {
  background: #fff none repeat scroll 0 0;
  border-top: 1px solid var(--bs-primary);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.19);
}

.slicknav_btn {
  background-color: transparent !important;
  line-height: 0;
  margin-right: 0px;
  margin-top: 5px;
}

.slicknav_menu .slicknav_icon {
  float: none !important;
  margin: 0;
}

.slicknav_icon-bar {
  height: 3px !important;
  margin: 5px 0;
  width: 30px !important;
}

.slicknav_menu .slicknav_icon-bar {
  background-color: #fff;
}

.jobguru-header-area.stick-top.sticky .slicknav_menu .slicknav_icon-bar,
.jobguru-header-area.home-3-page .slicknav_menu .slicknav_icon-bar {
  background-color: rgb(0 174 244);
}

/*================================================
04 - PAGINATION CSS
==================================================*/

.pagination-box-row {
  text-align: center;
}

.pagination-box-row p {
  display: inline-block;
  font-size: 15px;
  color: #444;
  margin-right: 15px;
}

.pagination {
  margin-top: 50px;
  text-align: center;
  float: none;
  display: inline-block;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination li a {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  border-radius: 50%;
  color: #111;
  font-weight: 500;
}

.pagination li.active a,
.pagination li a:hover {
  background: var(--bs-primary) none repeat scroll 0 0;
  color: #fff;
}

.banner-form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
  margin: 20px auto 0;
}

.banner-form-input {
  padding: 10px 12px;
  border-right: 1px solid #e4e4e4;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.banner-form-input:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2;
  border-right: 0px;
}

.banner-form-input input,
select {
  padding: 5px 10px;
  width: 100%;
  border: medium none;
}

.banner-form-input button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  width: 100%;
  border: medium none;
  cursor: pointer;
  background: #25ad60 none repeat scroll 0 0;
  color: #fff;
  border-radius: 0px 4px 4px 0px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.banner-form-input button:hover {
  background: #1e8d4e none repeat scroll 0 0;
}

.banner-form-input .select2 {
  width: 100% !important;
  text-align: left;
  padding: 5px 10px;
}
/*================================================
06 - BTN TOP CSS
==================================================*/
.btntoTop {
  color: #ffffff;
  vertical-align: middle;
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
  border-radius: 50%;
  bottom: 30px;
  cursor: pointer;
  height: 40px;
  line-height: 33px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: fixed;
  right: 20px;
  text-align: center;
  -webkit-transition: opacity 0.4s ease 0s;
  transition: opacity 0.4s ease 0s;
  width: 40px;
  z-index: 99999;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.42);
}

.btntoTop.active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btntoTop.active:hover {
  background: #3454f1d5 none repeat scroll 0 0;
  border: 1px solid #fff;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.btntoTop.active.btntoTop:hover:before {
  color: #fff;
}

.navIcon {
  display: none;
}
/*================================================
07 - HEADER CSS
==================================================*/

.jobguru-header-area {
  padding: 10px 0;
}

.jobguru-header-area .container-fluid {
  padding: 0 30px;
}

.forsticky {
  position: absolute;
  left: 0;
  top: 0;
}

.stick-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 12;
}
.forsticky.sticky {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  z-index: 1999;
}

header,
.menu-animation nav > ul > li,
.menu-animation,
.menu-animation ul > li > a.post-jobs {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-sec .container-fluid {
  padding: 0 30px;
}

.site-logo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 99999;
}

.site-logo img {
  width: 4.5rem;
}

.jobguru-header-area.stick-top.sticky .non-stick-logo {
  display: none;
}

.jobguru-header-area.stick-top .stick-logo {
  display: none;
}

.jobguru-header-area.stick-top.sticky .stick-logo {
  display: block;
}

header {
  display: inline-block;
}
header ul {
  text-align: center;
}
header ul li {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
}
header ul li a.has-children-link::after {
  content: '';
  height: 3px;
  width: 0;
  background: var(--bs-primary);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
header ul li:hover a.has-children-link::after {
  width: 100%;
}
header ul li:hover a.has-children-link {
  color: var(--bs-primary) !important;
}
header ul li a {
  display: block;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: relative;
  color: #000;
  transition: 0.2s;
}
.header-right-menu ul li{
  padding: 0;
}
.has-children__down:after {
  font-family: Fontawesome;
  content: "\f0d7";
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  line-height: 17px;
  width: 17px;
  height: 17px;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  text-indent: 0;
  top: 1px;
  position: relative;
}

.has-children__down:hover {
  color: inherit;
}

.header-right-menu ul {
  text-align: right;
}

.header-right-menu ul li {
  display: inline-block;
}


.header-right-menu ul li a i {
  margin-right: 5px;
}

.jobguru-header-area.stick-top.sticky .header-right-menu ul li a,
.jobguru-header-area.stick-top.sticky .header-menu ul li a {
  color: #000;
}

.jobguru-header-area.stick-top.sticky .header-menu ul li a:after {
  color: #000;
}

.jobguru-header-area.stick-top.sticky .post-jobs {
  color: #000 !important;
}

header ul li.active a.has-children-link::after {
  width: 100%;
}
header ul li.active a.has-children-link {
  color: var(--bs-primary) !important;
}
.post-jobs {
  display: inline-block;
    padding: 8px 25px;
    text-transform: capitalize;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background: transparent;
    border-radius: 4px;
    background: var(--bs-primary);
    border-radius: 99px;
}

.post-jobs:hover {
  background: #3454f1d5 none repeat scroll 0 0;
  color: #fff;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
}

/*================================================
09 - BANNER CSS
==================================================*/

.jobguru-banner-area {
  position: relative;
  width: 100%;
  margin-top: 56px;
  padding-bottom: 2px;
}
/* .banner__overlay {
  background: transparent linear-gradient(180deg, #2F221C 0%, #0A0A15 100%) 0% 0% no-repeat padding-box;
  opacity: 0.55;
} */
.banner__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__overlay, .banner__text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.banner__title {
  color: #fff;
  font-weight: 900;
  font-size: 3.5rem;
}
.subscriber__title {
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}
.banner__sub-title {
  color: #fff;
  font-size: 24px;
}
.subscriber__sub-title {
  color: #fff;
  font-size: 18px;
}

.banner-single-slider {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-color: transparent;
  background-image: linear-gradient(280deg, var(--bs-primary) 0%, #0f1b63 100%);
}
.banner-relative {
  position: relative;
}
.banner-text {
  z-index: 1;
  width: 100%;
  position: relative;
}
.banner-text .load-more {
  text-align: left;
}
.jobguru-banner-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.banner-search h1 {
  color: #fff;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 15px;
}

.banner-search h4 {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
}

.banner-form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
  margin: 20px auto 0;
}

.banner-form-input {
  padding: 10px 12px;
  border-right: 1px solid #e4e4e4;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.banner-form-input:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2;
  border-right: 0px;
}

.banner-form-input input {
  padding: 5px 10px;
  width: 100%;
  border: medium none;
}

.banner-form-input button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  width: 100%;
  border: medium none;
  cursor: pointer;
  background: var(--bs-primary) none repeat scroll 0 0;
  color: #fff;
  border-radius: 0px 4px 4px 0px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.banner-form-input button:hover {
  background: #1e8d4e none repeat scroll 0 0;
}

.banner-form-input .select2 {
  width: 100% !important;
  text-align: left;
  padding: 5px 10px;
}

.select2-container--default .select2-selection--single {
  border: 0px solid #aaa !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 8px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  text-transform: capitalize !important;
  color: #777 !important;
}

.banner-slider .owl-dots {
  text-align: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.banner-slider .owl-dots .owl-dot {
  display: inline-block;
}

.banner-slider .owl-dots .owl-dot span {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  background: #eee none repeat scroll 0 0;
  border-radius: 30px;
  display: block;
  height: 5px;
  margin: 5px 5px 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 20px;
}

.banner-slider .owl-dots .owl-dot.active span,
.banner-slider .owl-dots .owl-dot:hover span {
  background: var(--bs-primary) none repeat scroll 0 0;
}

/*================================================
12 - JOB TAB AREA CSS
==================================================*/

.feature-job-area {
  background: #f7f7f9 none repeat scroll 0 0;
}
.feature-job-companies {
  background: var(--bs-background);
}
.feature-job-companies .job-company-name, 
.feature-job-companies p, 
.feature-job-companies a {
  color: #ffffffeb;
}
.job-categories-logo {
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
}
.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 0;
  border-radius: 50%;
  background: #1B6BC7;
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-inner {
  overflow: inherit;
}
.feature-job-body .job-item__title {
  background-color: var(--bs-background);
  padding: 1.25rem 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.feature-job-body .job-item__content {
  padding: 1rem 1rem 1.5rem 1rem;
}

.job-item__name {
  color: var(--bs-yellow) !important;
  font-weight: 600;
  padding: 1rem 1rem 0 1rem;
}
.job-item__name a{
  color: var(--bs-primary) !important;
}
.job-item__heart a{
  color: #6c757d !important;
}
.feature-job-body .job-item__title {
  background-color: var(--bs-background);
  padding: 1.25rem 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.feature-job-body .job-item__content {
  padding: 1rem 1rem 1.5rem 1rem;
}

.feature-job-body .item-footer-date {
  border-top: 1px solid #f1f1f1;
}

.feature-job-body .card-body {
  padding: 0;
}

.job-categories-logo {
  height: 50px;
  width: 50px;
}
.author {
  color: var(--bs-primary);
}
.backIcon {
  width: 63px;
  height: 63px;
}
.icon-category {
  width: 63px;
  padding: 10px;
}
.job-categories-logo > div {
  width: 100%;
  height: 100%;
  background: rgb(103 135 254 / 10%);
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}
.academic-job-img {
  background: #F3F4F6;
  border-radius: 1000px;
  padding: 17px;
  width: 88px;
  height: 88px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.academic-job-img img{
  width: 100%;
  transition: transform 0.3s;
} 
.academic-job-content {
  width: calc(100% - 88px);
  padding-left: .75rem;
}
.feature-job-body .item-footer-date {
  border-top: 1px solid #f1f1f1;
}

.feature-job-body .card-body {
  padding: 0;
}

.job-categories-logo {
  height: 50px;
  width: 50px;
}
.backIcon {
  border-radius: 50%;
  background: #F8FAFD;
  width: 63px;
  height: 63px;
}
.icon-category {
  width: 60px;
    padding: 10px;
}
.job-categories-logo > div {
  width: 100%;
  height: 100%;
  background: rgb(103 135 254 / 10%);
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

.job-company-logo {
  position: relative;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #202E98;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
}

.job-company-logo img {
  height: 100%;
}

.job-company-logo {
  height: 50px;
  width: 50px;
}

.job-company-logo > div {
  width: 100%;
  height: 100%;
  color: #000;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

i.fa-heart-o {
  font-size: 24px;
}

i.fa-heart {
  font-size: 24px;
  color: var(--bs-violet);
}

.job-category-name {
  font-family: "Montserrat", sans-serif;
  max-width: 215px !important;
  color: #000;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  text-overflow: ellipsis;
  margin-top: 30px;
}
.job-company-name {
  font-family: "Montserrat", sans-serif;
  max-width: 215px !important;
  color: #fff;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  text-overflow: ellipsis;
}
.scholarship .job-company-name {
  color: var(--bs-primary);
}
.scholarship .shadow-min2 {
  background: #FAFAFC;
  box-shadow: none;
}
.text-muted a {
  color: #fff;
}
.shadow-min2 {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  /* transition: all 0.4s ease 0s; */
}

.shadow-min2:hover {
  box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 0 0 2px var(--bs-primary);
  -moz-box-shadow: 0 0 0 2px var(--bs-primary);
  box-shadow: 0 0 0 2pxvar(--bs-primary);
}

.shadow-min2:hover .academic-job-content a{
  color: var(--bs-primary) !important;
}
.shadow-min2:hover .academic-job-img img {
  width: 100%;
}
.shadow-min2:hover .job-title {
  color: var(--bs-primary) !important;
}
a.read-more {
  padding: 5px 15px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  color: var(--bs-primary);
}
a.read-more:hover {
  background: #2a65db2f;
}

.job-tab {
  text-align: center;
}

.job-tab .job-tab-switch {
  text-align: center;
  width: auto;
  float: none;
  display: inline-block;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 30px;
  background: #fff none repeat scroll 0 0;
}

.job-tab-switch li {
  display: inline-block;
}

.job-tab-switch li > a {
  border-radius: 30px !important;
  display: inline-block !important;
  padding: 10px 30px !important;
  text-transform: capitalize !important;
  color: #111;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
}

.job-tab-switch li > a.active {
  border-radius: 30px !important;
  display: inline-block !important;
  padding: 10px 30px !important;
  text-transform: capitalize !important;
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  background: var(--bs-primary) none repeat scroll 0 0 !important;
}
.blogRight .card {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.blogRight .card .card-body{
  padding: 0;
}
.feature-category .tab-content1,
.sidebar-list-single {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background: #fff; */
  border: 0;
  box-shadow: 0px 20px 40px rgb(0 0 0 / 5%);
  padding: 15px;
  border-radius: 4px;
}
.feature-category .tab-content1:hover,
.sidebar-list-single:hover {
  box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
  /* -webkit-box-shadow: 0 0 0 2px var(--bs-primary);
  -moz-box-shadow: 0 0 0 2px var(--bs-primary); */
  /* box-shadow: 0 0 0 2px var(--bs-primary); */
}


.tab-content li,
.sidebar-list-single {
  display: block;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 20px 40px rgb(0 0 0 / 5%);
  /* -webkit-transition: all 0.4s ease 0s; */
  /* transition: all 0.4s ease 0s; */
  padding: 20px;
  border-radius: 4px;
}
.feature-job-companies .tab-content li {
  /* background: #1D2433; */
  border: 1px solid var(--bs-violet);
}
.blogRight .tab-content li,
.sidebar-list-single {
  display: block;
  background: #fff none repeat scroll 0 0;
  box-shadow: 0px 20px 40px rgb(0 0 0 / 5%);
  /* -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; */
  padding: 0;
  border-radius: 0;
  border: 0;
}
.blogRight .tab-content li:hover {
  box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 0 0 2px var(--bs-primary);
    -moz-box-shadow: 0 0 0 2px var(--bs-primary);
    box-shadow: 0 0 0 2px var(--bs-primary);
}
.job-sidebar-list-single {
  margin-top: 50px;
}

.sidebar-list-single .company-list-logo {
  max-width: 95px !important;
  margin-right: 20px !important;
}

.tab-content li:hover,
.sidebar-list-single:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 2px var(--bs-violet);
  -moz-box-shadow: 0 0 0 2px var(--bs-violet);
  box-shadow: 0 0 0 2px var(--bs-violet);
}

.top-company-list .company-list-logo {
  background: #ecf9ff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.company-list-logo i {
  font-size: 25px;
  color: var(--bs-primary);
}
.country-item {
  position: relative;
  transition: all 0.2s ease 0s;
  box-shadow: 0px 20px 40px rgb(0 0 0 / 5%);
}
.country-item:hover {
  -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 5px 25px rgb(0 0 0 / 30%);
}
.country-content {
  position: absolute;
  width: 100%;
  color: #fff !important;
  font-weight: 700;
  bottom: 20px;
  font-size: 18px;
  text-align: center;
}
.country-item img{
  position: relative;
  border-radius: 4px;
  transition: transform 0.15s;
}
.country-col {
  flex: 0 0 auto;
  width: 20%;
}

/*================================================
13 - VIDEO AREA CSS
==================================================*/

/* .jobguru-video-area {
  background: #e8effd;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 50px;
  border-radius: 20px;
} */

.video-container {
  text-align: center;
}

.video-container h2 {
  color: #fff;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 15px;
  line-height: 52px;
}

.video-container p {
  color: #fff;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 52px;
}

.news-item-title h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px !important;
  line-height: 1.45 !important;
  margin-top: 3px;
  font-weight: 600;
  color: #191919 !important;
}

.news-img-height {
  height: 234px !important;
}
.ourBlog .news-img-height {
  height: 400px !important;
}
.ourBlog .blogLeft {
  background-color: #e9e9ef;
}
.blogRight .card {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.blogRight .card .card-body {
  padding: 0;
}
.blogRight .tab-content li, .sidebar-list-single {
  display: block;
  background: #fff none repeat scroll 0 0;
  box-shadow: 0px 20px 40px rgb(0 0 0 / 5%);
  padding: 0;
  border-radius: 0;
  border: 0;
}
.ourBlog .job-company-item {
  margin-bottom: -7px;
}
.ourBlog .job-company-content {
  width: 70%;
}
.ourBlog .job-company-logo {
  border-radius: 0;
  height: 95px;
  width: auto;
}
.ourBlog .job-company-name {
  color: #000;
}
.ourBlog .job-company-logo {
  position: relative;
  background: #fff;
  border: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
}
.ourBlog .text-muted {
  color: var(--bs-primary)!important;
  font-size: 14px;
}

.company-list-details p {
  display: inline-block;
  margin-right: 10px;
}
.job-company-logo img {
  height: 100%;
}
.card-img-top {
  width: 100%;
  top: 0;
}

.news-text-absolute {
  position: absolute;
  top: 5px;
  right: 5px;
}
.dropdown-menu a {
  color: #000 !important;
}
.news-text-muted {
  background-color: var(--bs-primary);
  color: #fff;
  font-weight: 600;
  padding: 5px 8px;
  text-align: center;
  border-radius: 0.25rem;
}

.single-blog {
  transition: all 0.2s ease 0s;
  width: 100%;
}
.featuredJob .card {
  border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.single-blog:hover {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0 5px 25px rgb(0 0 0 / 30%);
}

.item-footer-date,
[class*="card-img"] {
  position: relative;
  display: block;
  flex-grow: 0;
  width: inherit;
  min-height: 1px;
}

.news-img-absolute {
  position: absolute;
}

.news-img-obj {
  -o-object-fit: cover !important;
  object-fit: cover !important;
}

.card-img,
.card-img-top,
.card-img-bottom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

/*================================================
16 - FOOTER AREA CSS
==================================================*/

.footer-top {
  background: var(--bs-black);
  color: #8d8e92;
  position: relative;
  z-index: 1;
}
.footer-logo img {
  margin-bottom: 15px;
}

footer a:hover {
  color: var(--bs-primary);
}

ul.footer-social {
  margin-top: 15px;
}

ul.footer-social li {
  display: inline-block;
  margin-bottom: 0;
}

ul.footer-social li a {
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
}

ul.footer-social li a.fb img {
  width: 40px;
}

ul.footer-social li a.linkedin img {
  width: 50px;
}

.single-footer-widget > h3 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #cfc9c9;
}
span.text-gray {
  color: #cfc9c9;
}

.latest-post-footer {
  margin-bottom: 20px;
}

.latest-post-footer:last-child {
  margin-bottom: 0;
}

.latest-post-footer-left {
  float: left;
  height: auto;
  margin-right: 10px;
  width: 65px;
}

.latest-post-footer-left > img {
  border-radius: 5px;
}

.latest-post-footer-right {
  overflow: hidden;
}

.latest-post-footer-right > h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.latest-post-footer-right > h4 a {
  color: #999;
}

.latest-post-footer-right > h4 a:hover {
  color: #fff;
}

.latest-post-footer-right > p {
  color: #cecece;
  font-size: 13px;
}

.single-footer-widget li {
  margin-bottom: 5px;
}

.single-footer-widget a {
  text-transform: capitalize;
  color: #cfc9c9;
}

.single-footer-widget a i {
  margin-right: 5px;
}

.single-footer-widget li a:hover {
  color: var(--bs-primary);
}

.single-footer-widget p > i {
  color: var(--bs-primary);
  margin-right: 5px;
}

.single-footer-widget.footer-contact > p {
  margin-bottom: 5px;
}

.single-footer-widget.footer-contact > p:last-child {
  margin-bottom: 0;
}

.footer-copyright {
  background: var(--bs-black);
  color: #8d8e92;
  border-top: 1px solid #8d8e92;
  padding: 30px 0;
}
.copyright-left {
  text-align: center;
}

.copyright-left > p {
  text-transform: capitalize;
}

.copyright-left > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #cfc9c9;
}

.copyright-left p i {
  color: #27d0ee;
  margin: 0 5px;
}

.copyright-left p a {
  color: #27d0ee;
  margin-left: 3px;
}
/* #mySidenav {
  width: 100%;
} */
.cookie-consent {
  text-align: center;
    padding: 45px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #dbdbd0;
    text-align: center;
    z-index: 999;
}
.cookie-consent__message {
  color: #b1721f;
  font-size: 14px;
}
.ml-3, .mx-3 {
  margin-left: 0.75rem !important;
}
.cookie-consent__message a {
  color: var(--bs-primary);
}
.cookie-consent__cancel, .cookie-consent__agree {
  z-index: 9991;
  min-width: 85px !important;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #b1721f;
  background-color: #ecc77e;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 14px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.cookie-consent__cancel {
  min-width: 85px !important;
  font-size: 14px;
  background-color: #E4E6EF;
  border-color: #E4E6EF;
}
.single-category-holder {
  padding: 20px 20px;
  text-align: center;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  background: #ffffff none repeat scroll 0 0;
  display: block;
  margin-bottom: 1.5rem;
  min-height: 165px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.single-category-holder::after {
  position: absolute;
  content: "";
  right: 0;
  width: 100%;
  height: 10px;
  bottom: 0;
  background: var(--bs-primary) none repeat scroll 0 0;
  z-index: -1;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: all 0.4s ease 0s;
  opacity: 0;
}

.single-category-holder:hover {
  box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
}

.single-category-holder:hover::after {
  opacity: 1;
}
.job-categories-logo {
  height: 50px;
  width: 50px;
}

.job-categories-logo {
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
}
.job-categories-logo {
  height: 50px;
  width: 50px;
}
.job-categories-logo > div {
  width: 100%;
  height: 100%;
  background: rgb(103 135 254 / 10%);
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}
.company-list-logo i {
  font-size: 25px;
  color: var(--bs-primary);
}
.company-list-details > h3 {
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-top: 14px;
  margin-bottom: 5px;
  color: #202020;
}
.collapse:not(.show) {
  display: block;
}
.showCategory {
  color: #000;
  font-size: 14px;
}

#subs_img {
  height: 390px;
}
/*================================================
Responsive
==================================================*/

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 992px) and (max-width: 1169px) {
  .header-right-menu ul li a,
  .header-menu ul li a {
    padding: 5px !important;
  }
  .banner-welcome form .video-banner-input {
    width: 40%;
  }
  .top-job-company-image h3,
  .single-browse-company h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  #body-background {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    z-index: 2000;
    margin-top: -10px;
  }
  .jobguru-banner-area {
    padding-bottom: 5px;
}
  .collapse:not(.show) {
    display: none;
  }
  .navIcon {
    display: block;
  }
  .menuRight {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .menuRight span {
    font-size: 30px;
    cursor: pointer;
    color: var(--bs-primary);
    display: none;
  }
  header.jobguru-header-area.stick-top.forsticky.sticky .menuRight span {
    color: var(--bs-primary)
  }
  header .signUp-btn {
    border-radius: 0;
    margin-left: 0;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2001;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .blogRight .tab-content li {
    margin-bottom: 1.5rem !important;
  }
  .sidenav a {
    text-decoration: none;
    line-height: 24px;
    padding: 10px 20px;
    font-size: 15px;
    text-transform: capitalize;
    color: #4a6375;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    background-color: var(--bs-primary);
    color: #fff;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.5s;
  }
  .sidenav ul li {
    display: block;
  }
  .sidenav .jobguru-btn {
    border-radius: 0;
  }
  .sidenav ul li a {
    padding: 10px 30px !important;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jobguru-header-area.stick-top.sticky .header-right-menu ul li a,
.jobguru-header-area.stick-top.sticky .header-menu ul li a {
  color: #4a6375;
}
.jobguru-header-area.stick-top.sticky .header-menu ul li a:after {
  color: #4a6375;
}
  .menuRight span {
    display: block;
  }
  .jobguru-responsive-menu {
    display: block;
    width: 50%;
    z-index: 99999;
  }
  .site-logo {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .banner-text {
    top: 20%;
  }
  .header-right-menu ul li a {
    color: #000;
    text-align: center;
  }
  .header-right-menu ul li {
    display: block;
  }
  .header-right-menu .jobguru-btn {
    border: 0;
  }
  .slicknav_nav ul {
    margin: 0 10px;
  }
  .slicknav_nav,
  .slicknav_nav ul {
    overflow: inherit;
  }
  .slicknav_nav .slicknav_arrow {
    display: none;
  }
  .slicknav_nav li {
    border-bottom: 0;
  }
  .has-children__down:after {
    color: #000;
  }
  .banner-img {
    display: none;
  }
  .searchApp {
    text-align: center;
    margin-top: 2rem;
  }
  
  .banner__title {
    font-size: 1.75rem;
  }
  .banner__sub-title {
    font-size: 0.875rem;
}
}

@media (max-width: 767px) {
  .banner__image img {
    height: 250px;
  }
.banner__title {
  font-size: 1.75rem;
}
.country-col {
  width: 50%;
}
header .signIn-btn {
  padding-bottom: 4px;
}
  .jobguru-btn, .jobguru-btn-left {
    display: block;
    margin: 0 !important;
    margin-top: 20px !important;
  }
  .jobguru-banner-bottom {
    height: 18px;
    margin-top: -22px;
  }
  .subscribe-inp {
    width: 100%;
}
  .searchApp {
    text-align: center;
  }
  .banner-img {
    display: none;
  }
  .menuRight span {
    display: block;
  }
  .jobguru-responsive-menu {
    display: block;
  }
  .menuRight {
    justify-content: space-between;
  }
  .jobguru-header-area.stick-top.sticky .slicknav_menu .slicknav_icon-bar,
  .jobguru-header-area.home-3-page .slicknav_menu .slicknav_icon-bar {
    background-color: rgb(0 174 244);
  }
  #nav1 {
    display: flex;
    padding: 0 1rem;
  }
  header ul li a {
    color: #000000 !important;
  }
  header ul li a:hover {
    color: #fff !important;
  }
  .banner-text {
    top: 25%;
  }
  .single-footer-widget {
    margin: 30px 0;
  }
  .jobguru-header-area {
    padding: 10px 0;
  }
  .jobguru-header-area .container-fluid {
    padding: 0;
  }
  .banner-search h2 {
    font-size: 40px;
  }
  .banner-search h4 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
  }
  .site-logo img {
    width: 3.5rem;
  }
  .slicknav_nav {
    position: absolute;
    background: #fff;
    border-top: 0;
    box-shadow: none;
    width: 100%;
    top: 64px;
    margin-left: -5px;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 5%);
  }
  .slicknav_nav li {
    border-bottom: 0;
  }
  .header-right-menu ul li a {
    color: #000;
    text-align: center;
  }
  .header-right-menu ul li {
    display: block;
  }
  .header-right-menu .jobguru-btn {
    border: 0;
  }
  .slicknav_nav ul {
    margin: 0 10px;
  }
  .slicknav_nav a {
    text-align: left;
  }
  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    margin: 0;
  }
  .slicknav_nav,
  .slicknav_nav ul {
    overflow: inherit;
  }
  .slicknav_nav .slicknav_arrow {
    display: none;
  }
  .has-children__down:after {
    color: #000;
  }
  .slicknav_menu .slicknav_icon-bar {
    background-color: rgb(0 174 244);
  }
  #subs_img {
    height: 200px;
  }
  
  header.header-static-top {
    top: -60px !important;
  }
  header.header-fixed-top {
    top: 0 !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .jobguru-responsive-menu {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .featured_company .top-company-list {
    display: block;
    text-align: center;
  }
  .featured_company .top-company-list .company-list-logo {
    width: 100%;
    background: #ffff;
    margin-bottom: 10px;
  }
}
